@model AttendanceList

@{
    ViewBag.Title = "Course Attendance";
}

@{
    var AttendanceArray = new[]
    {
new { value=1, text="Present"},
new { value=0, text="Absent"}
};
}


<h2>Attendance</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />

<form asp-controller="MugOrder" asp-action="AttendanceClient" method="post" role="form">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Participant Name</th>
            <th>Attendance</th>
            <th>AttendanceID</th>



            @if (User.IsInRole("Admin"))
            {
                <th>Created By</th>
            }

        </tr>

        @{
                <tr>
                    <td>@Model.CourseAttendance[0].CourseId</td>
                    <td>
                        @Model.CourseAttendance[0].Participant_Name
                    </td>

                    <td>
                        <!-- <input type="checkbox" asp-for="Attendance"> Attended
                        <!-- <input type="radio" asp-for="Attendance" checked="checked" value="1">Present
    <input type="radio" asp-for="Attendance" value="0">Absent-->
                    </td>
                    <td>
                        <a asp-action="AttendanceUpdate" asp-route-id="item.courseAttendanceId">Update</a>
                        @Model.CourseAttendance[0].Attendance
                    </td>
                </tr>
            
        }
    </table>

    <div class="form-group row">
        <div class="col-offset-3 col-10">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
</form>
